/* ================dropdown design-==================== */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    right: 0;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content p {
    margin: auto;
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
  }
.paginate123 .pagination li span {
  color: #ffffff;
}
 .pagination .active {
  color: #ffffff;
}
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
/* ================dropdown design-==================== */

.button--disabled {
    text-transform: capitalize;
    font-size: 14px;
    background-color: #919490;
    color: #080808;
    padding: 7px 14px;
}
.hover-title a:hover {
  color: #666464;
}

.profile-info .heading-layout1 {
    display: block!important;
}

.dashboard-card-ten .card-body .student-info .media .item-img {
  background-color: #4dd0e1;
  height: 230px;
  width: 230px;
  line-height: 258px;
  text-align: center!important;
  border-radius: 50%;
  overflow: hidden;
}
.badge-primary {
   color: #fff;
   background-color: #287C71;
 }

.pseudo-bg-present:after {
    background-color: #289286;
}
.pseudo-bg-absent:after {
    background-color: #ff0000;
}
.pseudo-bg-escaped:after {
    background-color: #fc9717;
}

.dashboard-card-three .card-body .student-report:before {
    background-color: #ffffff;

}

/*underline style*/
.heading-sub {
    color: #279689;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 2rem;
    /* margin-top: 12px; */
    font-weight: 500;
    font-size: 20px;
}
.fancy4 {
    border-width: 0 0 4px;
    border-style: solid;
    -o-border-image: linear-gradient(45deg, #0d3349, #155274) 10% round;
    border-image: linear-gradient(45deg, #32998f, #32998f00) 10% round;
}

.bg-light-blue-transparent {
    background-color: #066896b8;
}
.bg-light-red-transparent {
    background-color: #ce180fb8;
}

.bg-light-yellow-transparent {
    background-color: #bd7407b8;
}

.fc-button-group button {

    text-transform: capitalize;
}

.information .dashboard-summery-two .item-content .item-title {
    color: #333333;
    margin-bottom: 2px;
}

.grade-form .col-12 {
    padding-right: 1px!important;
}

.panel-body li {
    font-size: 15px!important;
}
.page-panel-title {
    font-size: 19px!important;
}

.font-size-20{
    font-size: 20px!important;
}