/* ================dropdown design-==================== */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    right: 0;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content p {
    margin: auto;
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
  }
.paginate123 .pagination li span {
  color: #287C71;
}
 .pagination .active {
  color: #ffffff;
}
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
/* ================dropdown design-==================== */

.button--disabled {
    text-transform: capitalize;
    font-size: 14px;
    background-color: #919490;
    color: #080808;
    padding: 7px 14px;
}
